.navbar {
  padding        : 0 20px;
  background     : #aaeff59d url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
  display        : flex;
  justify-content: space-between;
}

.header {
  display    : flex;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}